.formbuilder {
  display: flex;
  flex-direction: row;
}

.formbuilder > .formcomponents {
  background-color: var(--color-background-accent);
  padding: var(--size-padding);
}

.formbuilder > .formarea {
  padding: var(--size-padding);
}

.formbuilder div[ref="sidebar-container"] {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
